@define-color background rgba(0, 0, 0, 0);
@define-color waybarBg rgba(38,38,38,0.3);
@define-color foreground      #e6e6e6;
@define-color surface         #404040;
@define-color inactive        #404040;

@define-color accent_orange   #e65c5c;
@define-color accent_green    #9ece6a;
@define-color accent_blue     #7aa2f7;
@define-color accent_critical #e65c5c;

#waybar {
  background-color: @waybarBg;
}

#battery.charging,
#battery.plugged {
  color: @accent_green;
}

#battery.warning:not(.charging) {
  color: @accent_orange;
}

#battery.critical:not(.charging) {
  color: @accent_critical;
}

#pulseaudio.muted {
  color: @accent_critical;
}

#network.disconnected {
  color: @accent_critical;
}

tooltip {
  border-radius: 10px;
  border: 1px solid @inactive;
}

tooltip label {
  color: @foreground;
}

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
